# **Procesado de datos**

In [ ]:
#Se importan las librerias necesarias
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer

In [ ]:
#Se carga el dataframe original
df = pd.read_csv('dataframe.txt', delimiter="\t", header=None)

In [ ]:
#Pasos para corregir el nombre de las columnas del dataframe
df.iloc[0] = df.iloc[0].fillna('')
df.columns = df.iloc[0] + df.iloc[1]
df = df.iloc[2:].reset_index(drop=True)

In [ ]:
#Creo las columnas dia-mes-anio y luego borro la columna date
df[['dia','mes','anio']] = df.Date.str.split("/", expand = True)
del df["Date"]

In [ ]:
#Se pasan a num√©ricos los datos
df = df.apply(pd.to_numeric, errors='coerce')

In [ ]:
#Se eliminan los meses que no sirven
df = df[df.mes != 1]
df = df[df.mes != 2]
df = df[df.mes != 3]
df = df[df.mes != 4]
df = df[df.mes != 5]
df = df[df.mes != 10]
df = df[df.mes != 11]
df = df[df.mes != 12]

In [ ]:
#Se eliminan las columnas no relevantes para regina
#### df = df.drop(df.columns[[0,1,2,7,8,9,10,11,13,14,15,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32]], axis=1)

#Se eliminan las columnas no relevantes para guerrico
#### df = df.drop(df.columns[[0,1,2,7,8,9,10,11,12,13,14,15,17,18,19,20,22,23,24,25,26,27,28,29,30,31,32,34,35,36,37,38,39,40,41]], axis=1)

In [ ]:
#Se eliminan las columnas innecesarias restantes
del df["dia"]
del df["mes"]
del df["anio"]

In [ ]:
#Se imputan valores nulos
df_imputed = df.copy()
knn_imputer = KNNImputer(n_neighbors=1)
df_imputed[df.columns] = knn_imputer.fit_transform(df)

In [ ]:
#Se guarda el dataframe generado como csv para evitar realizar el imputer en el futuro
df_imputed.to_csv('dataframe_procesado.csv', index=False)